<% if current_user.already_favorited?(@tweet) %>
  <%= link_to tweet_favorites_path(@tweet), method: :delete do %>
    <i class="fas fa-heart" style="color: red;">いいね</i>
  <% end %>
  <span style="color: black;"><%= @tweet.favorites.count %></span>
<% else %>
  <%= link_to tweet_favorites_path(@tweet), method: :tweet do %>
    <i class="far fa-heart">いいね</i>
  <% end %>
  <%= @tweet.favorites.count %>
<% end %>